<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /my-niver/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /my-niver/index.php [L]
</IfModule>
