.partners
    padding: 120px 0 60px
    position relative
    +below($bp.sm)
        padding: 50px 0
    h2
        margin-bottom: 50px
    p
        text-align: center
        color: #4e4e4e
        margin-bottom: 80px
    .owl-item
        +above($bp.sm)
            padding: 25px
            
    .grid
        width: 1290px
        margin: 0 auto
        max-width 100%
    .decorator
        position: absolute 
        top: 0 
        right 0
        z-index: -1

.carousel-partners
    position relative
    padding: 0 45px
    
.carousel-prev, .carousel-next
    position absolute
    top 42%
    transform: translateY(-50%)
    cursor pointer
    border none
    padding: 0
    background-color: transparent
.carousel-prev
    left 5px
    img
        transform: rotate(180deg)
.carousel-next
    right: 5px


.card-partner
    height: 240px
    background-color: #fff
    border-radius: 16px
    filter: drop-shadow(-9px 10px 20px rgba(0, 0, 0, 0.06));
    overflow hidden
    position relative
    img
        width: 100%;
        height 180px
        object-fit: cover
        object-position: top
        display: block
    h3
        line-height: 60px
        padding: 0 15px
        font-size: 16px
        font-weight: 400
    .badge
        width: 40px !important
        height 40px
        object-fit: cover
        object-position: center
        position absolute
        bottom 40px
        right 15px